{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "mysql": {
    "host": "xxx",
    "port": 3306,
    "url": "",
    "database": "yedian-mdc",
    "password": "xxx",
    "name": "mysql",
    "user": "xxx",
    "connector": "mysql"
  }
}
